<div id="resume">
      <section class="clearfix">
          <div class="g2">
              <h3>
                  Work Experience
              </h3>
              <ul class="no-list work">
                  <li>
                      <h5>
                          Application Server Administrator
                      </h5><span class="label label-info">2015-Now</span>
                      <p>
                          I have been an Application Server Administrator since the beginning of 2015.
                      </p>
                  </li>
                  <li>
                      <h5>
                          Programmer
                      </h5><span class="label label-info">2011-2015</span>
                      <p>
                          I have been programming in Java, Python, JavaScript and SQL since 2011.
                      </p>
                  </li>
                  <li>
                      <h5>
                          Monitoring Services
                      </h5><span class="label label-info">2014-Now</span>
                      <p>
                          I have worked with Nagios Core for monitoring hardware equipment and services on servers.
                      </p>
                  </li>
              </ul>
              <h3>
                  Education
              </h3>
              <ul class="no-list work">
                  <li>
                      <h5>
                          High School
                      </h5><span class="label label-success">2006-2010</span>
                      <p>
                          I am a graduated student from Experimental Bilingual High School Jose Figueres Ferrer in Cartago.
                      </p>
                  </li>
                  <li>
                      <h5>
                          Instituto Tecnol&oacute;gico de Costa Rica
                      </h5><span class="label label-warning">2011-Now</span>
                      <p>
                          Software Engineer Student.
                      </p>
                  </li>
	                <li>
                      <h5>
                          Infosys Mysore, India
                      </h5><span class="label label-success">2014</span>
                      <p>
                          Internship Program on "Microsoft-based Cloud Computing"
                      </p>
                  </li>
              </ul>
          </div>
          <div class="g1">
              <div class="sidebar">
                  <h3>
                      Skills
                  </h3>
                  <h5>
                      Software
                  </h5>
                  <div class="meter emerald">
                      <span style="width: 60%"><span>Unix</span></span>
                  </div>
                  <div class="meter carrot">
                      <span style="width: 70%"><span>Oracle WebLogic Server</span></span>
                  </div>
                  <div class="meter wisteria">
                      <span style="width: 30%"><span>OracleVM</span></span>
                  </div>
                  <div class="break"></div>
	                <h5>
                      Design
                  </h5>
	                <div class="meter emerald">
                      <span style="width: 45%"><span>Web Applications</span></span>
                  </div>
	                <div class="meter carrot">
                      <span style="width: 55%"><span>Software Applications</span></span>
                  </div>
	                <div class="break"></div>
                  <h5>
                      Programming Language
                  </h5>
                  <div class="meter emerald">
                      <span style="width: 75%"><span>Java</span></span>
                  </div>
                  <div class="meter carrot">
                      <span style="width: 60%"><span>Python</span></span>
                  </div>
                  <div class="meter wisteria">
                      <span style="width: 75%"><span>JavaScript</span></span>
                  </div>
                  <div class="meter sunflower">
                      <span style="width: 65%"><span>SQL</span></span>
                  </div>
	                <div class="break"></div>
                  <h5>
                      Language
                  </h5>
	                <div class="meter emerald">
                      <span style="width: 60%"><span>English</span></span>
                  </div>
              </div>
          </div>
      </section>
</div>
